@model PlansApp.Models.PlansMessage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlansMessage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipient.nickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient.nickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientCategory.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientCategory.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.introMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.introMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closingMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closingMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.planDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.planDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.plansMessageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
